:root {
}

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  background: url("../img/planets/stars.jpg") center no-repeat;
  background-size: 100% 100%;
  animation-name: shimmer;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-play-state: running;
  animation-duration: 5s;
}
header {
  padding-top: 5px;
  display: block;
  height: 80px;
  position: relative;
  box-shadow: 0 5px 100px 0 rgb(0 0 0 /30%);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  color: azure;
}
h1 {
  font-size: 30px;
  line-height: 80px;
}

main {
  min-height: calc(100vh - 175px);
  padding-top: 50px;
}

footer {
  font-size: 20px;
  background-color: rgba(228, 176, 32, 0.2);
  color: rgba(255, 255, 255, 0.6);
  height: 40px;
}
footer p {
  line-height: 40px;
}

.center {
  text-align: center;
}
.galaxy > a {
  position: relative;
  display: block;
  left: -40px;
  top: 50%;
}

.sun {
  border: 1px solid yellow;
  width: 500px;
  height: 500px;
  transform: translate(-250px, 0);
  background-image: url(../img/planets/sun.png);
  background-size: cover;
}
.mercury {
  border: 1px solid grey;
  width: 30px;
  height: 30px;
  transform: translate(300px, -300px);
  background-image: url(../img/planets/mercury.jpg);
  background-size: cover;
}
.venus {
  border: 1px solid orange;
  width: 40px;
  height: 40px;
  transform: translate(350px, -355px);
  background-image: url(../img/planets/venus.jpg);
  background-size: cover;
}

.earth {
  border: 1px solid blue;
  width: 45px;
  height: 45px;
  transform: translate(415px, -415px);
  background-image: url(../img/planets/earth.jpg);
  background-size: cover;
}

.moon {
  border: 1px solid grey;
  width: 10px;
  height: 10px;
  transform: translate(440px, -480px);
  background-image: url(../img/planets/moon.jpg);
  background-size: cover;
}
.mars {
  width: 30px;
  height: 30px;
  transform: translate(490px, -490px);
  background-image: url(../img/planets/mars.jpg);
  background-size: cover;
}

a {
  border: 1px solid red;
  border-radius: 50%;
  transition: 1s;
}

.galaxy a:hover {
  border: 1px solid white;
  box-shadow: 0 0 30px yellow;
  opacity: 0.5;
}
a:hover::after {
  z-index: 100;
  position: absolute;
  display: block;
  right: 20px;
  bottom: 50px;
  min-width: auto;
  min-height: auto;
  background-color: slategray;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  content: attr(planet);
}

@keyframes shimmer {
  0% {
    filter: contrast(1);
  }
  50% {
    filter: contrast(1.2);
  }
  100% {
    filter: contrast(1);
  }
}
